@import "./Variables.scss";

.Game {
    @include FlexContainer();

    .ButtonPrev {
        width: 15%;
        color: $BlueColor;
    }
    .GameDisplay {
        width: 70%;
    }
    .ButtonNext {
        width: 15%;
    }
};