@import './Variables.scss';

.Snusboks{ 
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1000px){
        transform: rotate(90deg);
    }

    .Buttons {
        height: 100vh;
        width: 100%;
        

        .NextButton {
            height: 100vh;
            width: 70%;
            left: 30%;
            background-color: transparent;
            border-color: transparent;
            position: absolute;
            &:active {
                background-color: rgba(255,255,255,0.2);
            }
            @media (max-width: 1000px){
                width: 70vw;
            }
        }

        .PrevButton {
            height: 100vh;
            width: 30%;
            right: 70%;
            background-color: transparent;
            border-color: transparent;
            position: absolute;
            &:active {
                background-color: rgba(255,255,255,0.2);
            }
            @media (max-width: 1000px){
                width: 80vw;
            }
        }
    }


    .Text {

        .Spørsmål {
            height: auto;
            width: 600px;
            text-align: center;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 4vmin;
            z-index:-1;
            @media (max-width: 1000px){
                top: 5%;
            }
        }

        .HvemAvGutta {
            height: auto;
            width: 400px;
            text-align: center;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 4vmin;
            z-index:-1;
            @media (max-width: 1000px){
                top: 15%;
            }
        }

        .Challenge {
            height: auto;
            width: 100vmin;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 6vmin;
            z-index:-1;
            @media (max-width: 1000px){
                top: 25%;
            }
        }

        .ChallengeAnim {
            height: auto;
            width: 100vmin;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 6vmin;
            z-index:-1;
            @media (max-width: 1000px){
                top: 25%;
            }
            animation-name: anim-popoutin;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
        
        }

        .Meme {
            max-height: 200px;
            width: 600px;
            text-align: center;
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index:-1;
            @media (max-width: 1000px){
                top: 45%;
            }
        }
          
          @keyframes anim-popoutin {
            0% {
             width: 0vmin;
              color: white;
              font-size: 0vmin;
              opacity: 0;
            }
            50% {
                width: 135vmin;
              color: white;
              font-size: 8vmin;
              opacity: 1;
            }
            100% {
              /* animate nothing to add pause at the end of animation */
              font-size: 6vmin;
              opacity: 1;
            }
          }
    }
}

