@charset "UTF-8";
.Snusboks {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks {
    transform: rotate(90deg);
  }
}
.Snusboks .Buttons {
  height: 100vh;
  width: 100%;
}
.Snusboks .Buttons .NextButton {
  height: 100vh;
  width: 70%;
  left: 30%;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
}
.Snusboks .Buttons .NextButton:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Buttons .NextButton {
    width: 70vw;
  }
}
.Snusboks .Buttons .PrevButton {
  height: 100vh;
  width: 30%;
  right: 70%;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
}
.Snusboks .Buttons .PrevButton:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Buttons .PrevButton {
    width: 80vw;
  }
}
.Snusboks .Text .Spørsmål {
  height: auto;
  width: 600px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vmin;
  z-index: -1;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Text .Spørsmål {
    top: 5%;
  }
}
.Snusboks .Text .HvemAvGutta {
  height: auto;
  width: 400px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vmin;
  z-index: -1;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Text .HvemAvGutta {
    top: 15%;
  }
}
.Snusboks .Text .Challenge {
  height: auto;
  width: 100vmin;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vmin;
  z-index: -1;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Text .Challenge {
    top: 25%;
  }
}
.Snusboks .Text .ChallengeAnim {
  height: auto;
  width: 100vmin;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vmin;
  z-index: -1;
  -webkit-animation-name: anim-popoutin;
          animation-name: anim-popoutin;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Text .ChallengeAnim {
    top: 25%;
  }
}
.Snusboks .Text .Meme {
  max-height: 200px;
  width: 600px;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media (max-width: 1000px) and (orientation: portrait) {
  .Snusboks .Text .Meme {
    top: 45%;
  }
}
@-webkit-keyframes anim-popoutin {
  0% {
    width: 0vmin;
    color: white;
    font-size: 0vmin;
    opacity: 0;
  }
  50% {
    width: 135vmin;
    color: white;
    font-size: 8vmin;
    opacity: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    font-size: 6vmin;
    opacity: 1;
  }
}
@keyframes anim-popoutin {
  0% {
    width: 0vmin;
    color: white;
    font-size: 0vmin;
    opacity: 0;
  }
  50% {
    width: 135vmin;
    color: white;
    font-size: 8vmin;
    opacity: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    font-size: 6vmin;
    opacity: 1;
  }
}/*# sourceMappingURL=Snusboks.css.map */