@import './Variables.scss';
.Snusboks{ 
    display: flex;
    flex-direction: column;

    .Text {
        height: auto;
        display: flex;
        flex-direction: row;

        .Spørsmål {
            height: auto;
            width: 400px;
            text-align: center;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 40px;
        }
        .HvemAvGutta {
            height: auto;
            width: 220px;
            text-align: center;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 30px;
        }
        .Challenge {
            height: auto;
            width: 600px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $WhiteColor;
            font-size: 40px;
        }
    }

  .Buttons {
    height: 100vh;
    width: 1680px;
    display: flex;
    flex-direction: row;

        .NextButton {
            width: 50%;
            background-color: $PurpleColor;
            border-color: transparent;
            &:active {
                background-color: $PurlerDarkColor;
            }
        }

        .PrevButton {
            width: 50%;
            background-color: $PurpleColor;
            border-color: transparent;
            &:active {
                background-color: $PurlerDarkColor;
            }
        }
    }
}
