@import './Variables.scss';
.Snusboks{ 

    .Text {
        transform:translate(50%, 50%);
        color: $WhiteColor;
        font-size: 40px;
        display: block;
        position: absolute;
        width: 50%;
        text-align: center;
    }

  .Buttons {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .NextButton {
    @include ButtonStyle();
    }

    .PrevButton {
    @include ButtonStyle();  
    }
}

};