// COLORS

$BlueColor: blue;

$PurpleColor: purple;
$PurlerDarkColor: rgb(107, 1, 107);

$WhiteColor: white;

$BlackColor: black;

// FONTS

// STYLES
@mixin ButtonStyle(){
    background-color: transparent;
    border-color: transparent;
    &:active {
        background-color: rgba(255,255,255,0.5);
    }
}

@mixin FlexContainer {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin:0%;
    padding: 0%;
}